{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
	"semi": false,
	"jsxSingleQuote": true,
	"svelteBracketNewLine": true,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [
		{
			"files": "*.svelte",
			"options": { "parser": "svelte" }
		}
	]
}
